<mat-card class="categories-edit-list-card">
  <mat-card-header class="card-header">
    <mat-card-title> Categories </mat-card-title>
    <button (click)="new()" mat-flat-button color="primary">NEW</button>
  </mat-card-header>
  <mat-card-content class="card-content">
    <div class="list" role="list">
      <div
        *ngFor="let category of categories"
        class="list-item"
        role="listitem"
      >
        <div class="item-title">{{ category.title }}</div>
        <div class="controls">
          <mat-icon (click)="edit(category._id)">create</mat-icon>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator
      (page)="setPage($event)"
      [length]="pageLength"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
    >
    </mat-paginator>
  </mat-card-footer>
</mat-card>
