.root {
  min-height: 100%;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.back-button {
  margin: 1rem 0rem;
}

.exam-view-title {
  margin: 1rem 0rem;
  padding: 1rem;
}

mat-card > mat-card-actions:last-child {
  padding: 1rem;
}
