.questions-edit-list-card {
  width: 50%;
  min-width: 500px;

  .card-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    mat-card-title {
      margin-bottom: 0rem;
    }

    button {
      margin-right: 1rem;
    }
  }
}

.card-content {
  margin-bottom: 0rem;
  .list {
    padding: 0rem 1rem;

    .list-item {
      width: 100% !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.25rem 0rem;

      .item-title {
        font-size: 1rem;
      }

      .controls {
        display: flex;
        align-items: center;
        margin-left: auto;
        justify-items: space-between;

        span {
          margin-right: 0.5rem;
        }

        mat-icon {
          cursor: pointer;
        }
      }
    }
  }
}
